body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; /* fond noir */
    color: #fff;               /* texte blanc */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    /* espace autour du contenu de la page */
}

header h1 {
    display: flex;
    justify-content: center;
    color: #ff4d4d; /* rouge vif */
    margin-bottom: 60px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

table {
    width: 80%; /*largeur de la page */
    border-collapse: collapse;
    border-radius: 10px; /* permet d'avoir les bordures arrondies */
    box-shadow: 0 4px 10px rgba(0,0,0,0.5); /* ajout d'une ombre pour mettre en avant le tableau */
}

table thead th {
    background-color: #ff4d4d; /* rouge vif */
    color: #fff;               /* texte blanc */
    padding: 20px 45px;        /* même padding que les td */
    text-align: center;        /* centre le texte */
    font-weight: bold;         /* texte en gras */
    border: 1px solid #ff4d4d; /* bordure rouge pour uniformité */
}

td {
    padding: 17px 35px;
    border: 1px solid #ff4d4d; /* bordures rouges */
}

tr:nth-child(odd) {
    background-color: #2c2c2c; /* gris très foncé */
}

tr:nth-child(even) {
    background-color: #3d0000; /* rouge très sombre */
}

tr:hover {
    background-color: #ff1a1a; /* rouge vif au survol */
    transition: 0.3s;
}

td:first-child {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

td:nth-child(2) {
    font-style: italic;
    color: #fff;
}

#style-bouton {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#style-bouton button {
    padding: 12px 25px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#style-bouton button:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
}

#introduction {
    font-size: 20px;
}